.save-btn {
  background-color: #007cce;
  color: white;
  opacity: 0.8;
}

.save-btn:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #cacbcc;
  opacity: 0.8;
}

.cancel-btn:hover {
  opacity: 1;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}

.time-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding: 5px 0px 5px 5px;
  overflow-wrap: break-word;
  width: 50%;
  height: auto;
}

textarea[type="text"]:focus {
  height: 7rem;
  outline: none;
}
