<div class="col" style="padding: 0px">
    <div
      ngbDropdown
      container="body"
      style="display: d-inline-block"
      class="d-inline-block;"
    >
      <button
        class="state-btn"
        id="dropdownBasic1"
        [style.background-color]="TaskStatusColors[task.status]"
        style="color: white; padding: 0.35rem 0.75rem; border-radius: 4px;"
        ngbDropdownToggle
      >
        {{ TaskStatusDisplay[task.status] }}
      </button>
      <div
        ngbDropdownMenu
        container="body"
        style="padding-right: 1rem"
        aria-labelledby="dropdownBasic1"
      >
        <button ngbDropdownItem *ngFor="let option of issueStatuses">
          <div
            *ngIf="!isStatusSelected(option.value)"
            (click)="updateTask(option.value)"
          >
            {{ option.label }}
          </div>
        </button>
      </div>
    </div>
  </div>

<!-- <button class="inProgress-btn" ngbDropdownItem><fa-icon style="color: #2BD9FE; margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>ĐANG THỰC HIỆN</button>
<button class="alert-btn" ngbDropdownItem><fa-icon style="color: #DB504A;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>TRỄ HẠN</button>
<button class="complete-btn " ngbDropdownItem><fa-icon style="color: #6bc950;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>HOÀN THÀNH</button> -->

<!-- <div ngbDropdown container="body"  class="d-inline-block;">
    <button class="state-btn" id="dropdownBasic1" [style.background-color]="TaskStatusColors[task.status]" style="color: white; width: 161.88px; " ngbDropdownToggle>{{TaskStatusDisplay[task.status]}}</button>
    <div ngbDropdownMenu  container="body" style="z-index: 100000 !important; padding-left: 1rem;padding-right: 1rem;" aria-labelledby="dropdownBasic1">
      <div ngbDropdownItem *ngFor="let option of issueStatuses">
        <button
        *ngIf="!isStatusSelected(option.value)"
        (click)="updateTask(option.value)"
        >
        {{ option.label }}
        </button>
      </div>
    </div>    
  </div> -->