<div class="mt-6 mb-1 uppercase text-textMedium text-13 font-bold">
    Status
</div>
<button nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          [className]="variants[issue.status] + ' uppercase text-textMedium text-13'">
    {{ IssueStatusDisplay[issue.status] }}
</button>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu
        nzNoAnimation
        class="mt-3">
        <ng-container *ngFor="let option of issueStatuses">
            <li nz-menu-item
                *ngIf="!isStatusSelected(option.value)"
                (click)="updateIssue(option.value)">
                <div class="flex items-center">
                    <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ option.label }}</span>
                </div>
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu>

<!-- <button class="inProgress-btn" ngbDropdownItem><fa-icon style="color: #2BD9FE; margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>ĐANG THỰC HIỆN</button>
<button class="alert-btn" ngbDropdownItem><fa-icon style="color: #DB504A;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>TRỄ HẠN</button>
<button class="complete-btn " ngbDropdownItem><fa-icon style="color: #6bc950;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>HOÀN THÀNH</button> -->

<!-- <div ngbDropdown container="body"  class="d-inline-block;">
    <button class="state-btn" id="dropdownBasic1" [style.background-color]="TaskStatusColors[task.status]" style="color: white; width: 161.88px; " ngbDropdownToggle>{{TaskStatusDisplay[task.status]}}</button>
    <div ngbDropdownMenu  container="body" style="z-index: 100000 !important; padding-left: 1rem;padding-right: 1rem;" aria-labelledby="dropdownBasic1">
      <div ngbDropdownItem *ngFor="let option of issueStatuses">
        <button
        *ngIf="!isStatusSelected(option.value)"
        (click)="updateTask(option.value)"
        >
        {{ option.label }}
        </button>
      </div>
    </div>    
  </div> -->