.main-post {
  padding: 0px 12px;
  max-width: 100%;
  margin: auto;
  z-index: -1;


  .main-post-container {
    width: 100%;
    border-radius: 4px;
    margin-top: 8px;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    transition: unset;
    box-shadow: none;
    border: solid 1px #979797;
    transform: translateY(2px);

    .main-post-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      z-index: -1;

      .main-post-content-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 5px 0px 5px 5px;
        overflow-wrap: break-word;
        width: 75%;
        height: auto;

        .inside-content-container {
          display: flex;
          justify-content: flex-start;
          position: relative;
          width: 100%;
          flex-direction: column;
          color: black;

          .up-content-container {
            display: flex;
            justify-content: flex-start;
            position: relative;
            height: 75%;

            .head-section {
              display: inline-block;
              border-radius: 10px;
              padding: 2px 5px 2px 5px;
              cursor: pointer;
              margin-bottom: 10px;
              transition: all 0.15s ease-in-out;
            }

            .head-section:hover {
              background-color: white;

              .arrow-button {
                background-color: #007cce;

                .arrow-button-icon {
                  color: white;
                }
              }

              .head {
                color: #007cce;
              }

              .number-of-task {
                color: #007cce;
              }
            }

            .head {
              display: inline-block;
              font-size: 24px;
              font-weight: bold;
            }

            .comment-section {
              display: inline-block;
              border-radius: 10px;
              padding: 0px 5px 0px 5px;
              cursor: pointer;
              height: auto;
              margin-bottom: 30px;
              //background-color: white;

              .comment-icon {
                color: black;
              }
            }

            .time-section {
              width: 100px;

              .date-control {
                cursor: pointer;
                text-align: center;
                width: auto;
                border-color: transparent transparent;
                appearance: none;
                border-radius: 0;
                border-style: solid;
                border-width: 1px;
                box-shadow: none;
                display: block;
                //min-height: 32px;
                outline: none;
                overflow: hidden;
                text-overflow: ellipsis;
                text-shadow: none;
                background-color: #2BD9FE;
                transition: all 0.15s ease-in-out;
                width: 100%;
                border-radius: 10px;
              }

              .date-control:hover {
                background-color: white;
              }

              ::placeholder {
                color: black;
              }
            }

            .comment-section:hover {
              background-color: white;

              .comment-content {
                color: #007cce;
              }

              .comment-icon {
                color: #007cce;
              }
            }

            .detail-icon {
              cursor: pointer;
              transition: all 0.15s ease-in-out;
            }

            .detail-icon:hover {
              color: white;
            }
          }

          .comment {
            display: inline-block;
            font-size: 20px;
            transition: all 0.15s ease-in-out;
            font-weight: 400;
          }
        }

        .number {
          display: inline-block;
          font-size: 40px;
          color: black;
          font-weight: bold;
          margin-right: 18px;
          margin-left: 9px;
          vertical-align: middle;
        }

        .arrow-button {
          display: inline-block;
          width: 24px;
          height: 24px;
          border: 2px solid white;
          background-color: white;
          margin-right: 10px;
          border-radius: 50%;

          .arrow-button-icon {
            color: #007cce;
          }
        }
      }

      .main-post-percentage-container {
        display: flex;
        align-items: center;

        .percentage-content {
          display: inline-block;
          color: black;
          font-weight: bold;
          margin-right: 22px;
          width: 40px;
          font-size: 26px;
          text-align: right;
        }
      }
    }
  }
}

main-post::before {
  background-color: #EEEEEE;
}

