* {
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  word-wrap: break-word;
}

.change-password {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  flex-direction: column;

  .container[role="main"] {
    box-shadow: 0 0 0 32px #fff;
    height: auto;
    margin-top: auto;
  }

  .container {
    margin: auto;
    padding-top: 1px;
    width: 344px;
    background: #fff;
  }

  .logo {
    background-position: 0 0;
    display: inline-block;
    height: 13px;
    vertical-align: top;
    width: 50px;
  }

  .row {
    display: block;
    margin: 16px 0;
  }
  .page-title {
    font-weight: 300;
    color: #323232;
    font-size: 28px;
    line-height: 1.6;
  }

  .m32 {
    margin-top: 32px;
  }

  fieldset {
    border: none;
    outline: none;
    padding: 0;
  }

  .component-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .password-rules {
    display: block;
    //max-height: 0;
    //opacity: 0;
    overflow: hidden;
  }

  .password-rules-image {
    background-position: -185px -142px;
    display: inline-block;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    width: 12px;
  }

  .password-rules-title {
    font-weight: 300;
    color: #505050;
    display: inline-block;
    vertical-align: middle;
  }

  button {
    font-weight: 700;
    border-radius: 16px;
    display: inline-block;
    font-size: 15px;
    height: auto;
    outline: none;
    padding: 0 14px;
    transition: all .15s ease-in-out;
    width: auto;
  }

  .link {
    color: #1473e6;
    text-decoration: none;
  }

  .sumit-button {
    line-height: 32px;
    min-height: 32 px;
    border: none;
    color: #fff;
    padding-left: 16 px;
    padding-right: 16 px;
    white-space: nowrap;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .mt8 {
    margin-top: 8px;
  }

  legend {
    color: #333;
    text-align: start;
    margin-bottom: 0.5rem !important;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
  }

  input[type="password"] {
    border-color: transparent transparent #eaeaea;
    appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    display: block;
    min-height: 32px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    transition: all 0.15s ease-in-out;
    width: 100%;
  }
}
