<div class="change-password">
    <div class="container" role="main">
        <div class="page-header" style="margin-top: 0;">
            <div class="logo-container" style="line-height: 1; height: 100%; display: table-cell; vertical-align: bottom">
                <img class="logo" src="../../assets/oryza.png" alt="">
            </div>
        </div>
        <div class="row">
            <h1 class="page-title">
                Đổi mật khẩu
            </h1>
        </div>
        <div class="row">
            <p>Bạn sẽ đổi mật khẩu cho:
                <strong> {{auth.getUserFullName()}} </strong>
            </p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <fieldset class="row m32">
                <legend>Xác nhận mật khẩu hiện tại</legend>
                <input matInput formControlName="oldpassword" type="password" placeholder="Mật khẩu hiện tại">
            </fieldset>
            <fieldset class="row m32">
                <legend>Nhập mật khẩu mới</legend>
                <span class="component-wrapper" for="password">
                    <input matInput formControlName="password" type="password" placeholder="Nhập mật khẩu mới">
                </span>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Nhập lại mật khẩu mới">
                <!-- <div class="password-rules">
                    <div class="password-rules-image">
                        <mat-icon>menu</mat-icon>
                    </div>
                    <div class="password-rules-title">
                        Mật khẩu của bạn cần:
                    </div>
                </div>
                <div class="password-rules-list-container">
                    <ul class="password-rules-list">
                        <li class="password-rules-list-item mt8">dfgdfg</li>
                        <li class="password-rules-list-item mt8">dsfgsfdg</li>
                        <li class="password-rules-list-item mt8">dsfgsdfgfdsg</li>


                    </ul>
                </div> -->

            </fieldset>
            <div class="row m32">
                <fieldset>
                    <button type="submit" class="sumit-button secondary">Đổi mật khẩu</button>
                </fieldset>
                <fieldset class="row m32">
                    <a class="link" [routerLink]="'/home'">
                        Hủy
                    </a>
                </fieldset>
            </div>
        </form>
    </div>
</div>