<div
  class="task"
  style="background-color: white; margin-left: 32px; border-radius: 4px; z-index: -1;"
  *ngIf="this.task"
>
  <div class="task-container">
    <div class="task-wrapper">
      <div class="task-content-container">
        <span
          ><fa-icon class="mr1" [style.color]="this.task.color" [icon]="faSquare"></fa-icon>{{this.task.name}}</span
        >
        <!-- <div class="head-section">
            <span class="head"> Phòng R & D </span>
            <span class="number-of-task m5">3 công việc</span>
          </div> -->
      </div>
      <div class="right-task-content-container">
        <div style="width: 150px">
          <img class="user-icon" src="../../assets/messi.jpg" alt="" />
          <img class="user-icon ml0-5" src="../../assets/messi.jpg" alt="" />
          <img class="user-icon ml0-5" src="../../assets/messi.jpg" alt="" />
          <span class="ml0-5">+2</span>
        </div>
        <div class="col ml1" style="padding-right: 0px; ">
          <div ngbDropdown container="body"  class="d-inline-block;">
            <button class="state-btn" id="dropdownBasic1" [style.background-color]="this.task.color" style="color: white; width: 161.88px; " ngbDropdownToggle>{{returnTitle(this.task.color)}}</button>
            <div ngbDropdownMenu  container="body" style="z-index: 100000 !important; padding-left: 1rem;padding-right: 1rem;" aria-labelledby="dropdownBasic1">
              <button class="inProgress-btn" (click)="onchangeStateClicked()" ngbDropdownItem><fa-icon style="color: #2BD9FE; margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>ĐANG THỰC HIỆN</button>
              <button class="alert-btn" ngbDropdownItem><fa-icon style="color: #DB504A;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>TRỄ HẠN</button>
              <button class="complete-btn " ngbDropdownItem><fa-icon style="color: #6bc950;margin-right: 0.5rem;" [icon]="faSquare"></fa-icon>HOÀN THÀNH</button>
            </div>    
          </div>
        </div>
        <!-- <div class="head-section ml1" style="background-color: #6bc950">
          <span>HOÀN THÀNH</span>
        </div> -->  
        <div class="time-section ml1" style="text-align: center">
          <input
            class="date-control"
            placeholder={{this.task.fromDate}}
            container="body"
            style="z-index: 100000"
            name="dp"
            [(ngModel)]="fromDate"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
          />
        </div>
        <div class="time-section mr1" style="text-align: center">
          <input
            class="date-control"
            placeholder={{this.task.toDate}}
            container="body"
            style="z-index: 100000"
            name="dp"
            [(ngModel)]="toDate"
            ngbDatepicker
            #e="ngbDatepicker"
            (click)="e.toggle()"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="issue-wrap">
  <div (click)="openIssueModal(issue.id)"
       class="issue">
      <p class="pb-3 text-15 text-textDarkest">
          {{ issue.title }}
      </p>
      <div class="flex items-center justify-between">
          <div class="flex items-center ml-1">            
              <j-avatar *ngFor="let user of assignees"
                        [className]="'shadow-outline-white -ml-1'"
                        [size]="24"
                        nz-tooltip
                        [nzTooltipMouseEnterDelay]="0.3"
                        nzTooltipTitle="Assignee: {{ user.name }}"
                        nzTooltipPlacement="bottom"
                        [avatarUrl]="user.avatarUrl">
              </j-avatar>                
              <span [class.ml-3]="assignees?.length" class="uppercase">
                  {{issue.type}}-{{issue.id}}
              </span>
          </div>
          <div class="flex items-center">
              <svg-icon class="mr-1 text-textMedium"
                        [name]="issueTypeIcon"
                        nz-tooltip
                        [nzTooltipMouseEnterDelay]="0.3"
                        [nzTooltipTitle]="issue.type"
                        nzTooltipPlacement="bottom"
                        >
              </svg-icon>

              <svg-icon [name]="priorityIcon.icon"
                        nz-tooltip
                        [nzTooltipMouseEnterDelay]="0.3"
                        [nzTooltipTitle]="priorityIcon.value"
                        nzTooltipPlacement="bottom"
                        
                        [style.color]="priorityIcon.color">
              </svg-icon>
          </div>            
      </div>
  </div>
</div> -->







