<div style="display: flex; flex-direction: row; overflow-wrap: break-word;">
  <div style="display: inline-block;">
  <button *ngFor="let assignee of assignees">
    <div
      style="border-radius: 4px; padding: 2px; border: 1px solid #eff0f3"
      class="flex items-center"
    >
      <j-user [user]="assignee"></j-user>
      <mat-icon (click)="removeUser(assignee.id)">close</mat-icon>
    </div>
  </button>
  <div
    ngbDropdown
    container="body"
    style="display: d-inline-block"
    class="d-inline-block ml1"
    #myDrop="ngbDropdown"
  >
    <a
      style="
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #eff0f3;
        padding: 0.25rem;
      "
      ngbDropdownToggle
      ><fa-icon [icon]="faPlusCircle"></fa-icon> Thêm</a
    >
    <div
      ngbDropdownMenu
      container="body"
      style="padding-left: 1rem; padding-right: 1rem"
      aria-labelledby="dropdownBasic1"
    >
      <button ngbDropdownItem *ngFor="let option of users">
        <div *ngIf="!isUserSelected(option)" (click)="addUserToTask(option)">
          <j-user [user]="option"></j-user>
        </div>
      </button>
    </div>
  </div>
</div>
</div>

<!-- <div class="col ml1" style="padding-right: 0px">
  <div
    ngbDropdown
    container="body"
    style="display: d-inline-block"
    class="d-inline-block;"
  >
    <button
      class="state-btn"
      id="dropdownBasic1"
      [style.background-color]="TaskStatusColors[task.status]"
      style="color: white; width: 161.88px"
      ngbDropdownToggle
    >
      {{ TaskStatusDisplay[task.status] }}
    </button>
    <div
      ngbDropdownMenu
      container="body"
      style="padding-left: 1rem; padding-right: 1rem"
      aria-labelledby="dropdownBasic1"
    >
      <button ngbDropdownItem *ngFor="let option of issueStatuses">
        <div
          *ngIf="!isStatusSelected(option.value)"
          (click)="updateTask(option.value)"
        >
          {{ option.label }}
        </div>
      </button>
    </div>
  </div> -->
<!-- <a class="add-more"
   nz-dropdown
   [nzTrigger]="'click'"
   [nzDropdownMenu]="menu">
    <i class="mr-1"
       nz-icon
       nzType="plus"
       nzTheme="outline"></i>
    Add Assignee
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul class="mt-3"
        nz-menu
        nzNoAnimation>
        <ng-container *ngFor="let option of users">
            <li nz-menu-item
                *ngIf="!isUserSelected(option)"
                (click)="addUserToTask(option)">
                <j-user [user]="option"></j-user>
            </li>
        </ng-container>
    </ul>
</nz-dropdown-menu> -->
