<div class="min-post" style="margin-top: 1.5rem; margin-left: 1rem">
  <div class="min-post-container">
    <div class="min-post-wrapper">
      <div class="min-post-content-container">
        <div
          class="head-section"
          [style.color]="TaskStatusColors[status]"
          style="font-size: 22px"
        >
          <fa-icon
            (click)="getDoneTask_openFunc()"
            [icon]="
              getDoneTask_open ? faChevronCircleDown : faChevronCircleRight
            "
          ></fa-icon>
        </div>

        <div
          class="head-section"
          [style.background-color]="TaskStatusColors[status]"
        >
          <span class="head">{{ TaskStatusDisplay[status] }}</span>
          <span class="number-of-task m5">{{ tasksCount }} công việc</span>
        </div>
      </div>
      <div class="right-min-post-content-container">
        <span style="width: 150px" class="title ml1">NGƯỜI THỰC HIỆN</span>
        <span class="status-title ml1">TRẠNG THÁI</span>
        <span class="title ml1">TỪ NGÀY</span>
        <span class="title mr1">ĐẾN NGÀY</span>
      </div>
    </div>
    <div
      *ngIf="getDoneTask_open"
      cdkDropList
      [cdkDropListData]="tasks"
      [id]="status"
      (cdkDropListDropped)="drop($event)"
      class="flex" style="flex-direction: column;"
    >
      <app-task
        *ngFor="let task of tasks"
        [task]="task"
        cdkDrag
        [cdkDragData]="task"
      ></app-task>
    </div>
  </div>
</div>
