<div class="min-post" style="margin-top: 1.5rem; margin-left: 1rem">
  <div class="min-post-container">
    <div class="min-post-wrapper">
      <div class="min-post-content-container">
        <div class="head-section" style="color: #6bc950; font-size: 22px">
          <fa-icon
            (click)="openChildComponent()"
            [icon]="shoud_open ? faChevronCircleDown : faChevronCircleRight"
          ></fa-icon>
        </div>

        <div class="head-section" style="background-color: #6bc950">
          <span class="head"> HOÀN THÀNH </span>
          <span class="number-of-task m5">3 công việc</span>
        </div>
      </div>
      <div class="right-min-post-content-container">
        <span style="width: 150px" class="title ml1">NGƯỜI THỰC HIỆN</span>
        <span class="status-title ml1">TRẠNG THÁI</span>
        <span class="title ml1">TỪ NGÀY</span>
        <span class="title mr1">ĐẾN NGÀY</span>
      </div>
    </div>
    <div *ngIf="shoud_open">
      <app-task></app-task>
    </div>
  </div>
</div>
<!-- 
<div class="min-post" style="margin-top: 1.5rem; margin-left: 1rem">
  <div class="min-post-container">
    <div class="min-post-wrapper">
      <div class="min-post-content-container">
        <div class="head-section" style="color: #6bc950; font-size: 22px">
          <fa-icon
            (click)="openChildComponent()"
            [icon]="shoud_open ? faChevronCircleDown : faChevronCircleRight"
          ></fa-icon>
        </div>

        <div class="head-section" style="background-color: #6bc950">
          <span class="head">HOÀN THÀNH</span>
          <span class="number-of-task m5">3 công việc</span>
        </div>
      </div>
      <div class="right-min-post-content-container">
        <span style="width: 140px" class="title ml1">NGƯỜI THEO DÕI</span>
        <span class="status-title">TRẠNG THÁI</span>
        <span class="title ml1">TỪ NGÀY</span>
        <span class="title mr1">ĐẾN NGÀY</span>
      </div>
    </div>
    <div *ngIf="shoud_open">
      <app-task></app-task>
    </div>
  </div>
</div>

<div class="min-post" style="margin-top: 1.5rem; margin-left: 1rem">
  <div class="min-post-container">
    <div class="min-post-wrapper">
      <div class="min-post-content-container">
        <div class="head-section" style="color: #6bc950; font-size: 22px">
          <fa-icon
            (click)="openChildComponent()"
            [icon]="shoud_open ? faChevronCircleDown : faChevronCircleRight"
          ></fa-icon>
        </div>

        <div class="head-section" style="background-color: #6bc950">
          <span class="head"> HOÀN THÀNH </span>
          <span class="number-of-task m5">3 công việc</span>
        </div>
      </div>
      <div class="right-min-post-content-container">
        <span style="width: 140px" class="title">NGƯỜI THEO DÕI</span>
        <span class="status-title">TRẠNG THÁI</span>
        <span class="title ml1">TỪ NGÀY</span>
        <span class="title mr1">ĐẾN NGÀY</span>
      </div>
    </div>
    <div *ngIf="shoud_open">
      <app-task></app-task>
    </div>
  </div>
</div> -->
