<div
  *ngIf="task; else loaderTmpl"
  class="w-full h-full"
  [class.pl-4]="isShowCloseButton"
>
  <div class="task-detail-container">
    <div class="task-detail-wrapper">
      <div class="left-wrapper">
        <div class="task-state-container">
          <!-- <issue-status [task]="task"></issue-status> -->
          <!-- <issue-assignees
            [task]="task"
            [users]="projectQuery.users$ | async"
          >
          </issue-assignees> -->
          <issue-title [task]="task"></issue-title>

          <!-- <div class="pt-4 pb-2 text-15 font-medium">Description</div> -->
          <!-- <issue-description [issue]="issue"></issue-description> -->

          <!-- <div class="pt-4 pb-2 text-15 font-medium">Comments</div> -->
          <!-- <issue-comments [issue]="issue"></issue-comments> -->
        </div>
        <div class="right-wrapper">
          <!-- <issue-status [issue]="issue"></issue-status>
                  <issue-assignees [issue]="issue"
                                   [users]="projectQuery.users$ | async">
                  </issue-assignees>
                  <issue-priority [issue]="issue"></issue-priority> -->

          <!-- <div class="mt-3 pt-3 leading-loose border-t border-borderLightest text-textMedium text-13">
                      <div>
                          Created - {{ issue.createdAt | date:"medium" }}
                      </div>
                      <div>
                          Updated - {{ issue.updatedAt | date:"medium" }}
                      </div>
                  </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #loaderTmpl>
  <issue-loader></issue-loader>
</ng-template>
