<div
  class="sub-post"
  *ngIf="this.subProductItem"
  style="margin-top: 1.5rem; margin-left: 1rem"
>
  <div class="sub-post-container">
    <div class="sub-post-wrapper">
      <div class="sub-post-content-container">
        <div class="inside-content-container">
          <div class="up-content-container">
            <div class="head-section">
              <span class="head">
                <fa-icon
                  (click)="openChildComponent()"
                  [icon]="
                    shoud_open ? faChevronCircleDown : faChevronCircleRight
                  "
                ></fa-icon>
                {{ this.subProductItem.name }}
              </span>
              <span class="number-of-task m5"
                >{{ getAllTask }} công việc</span
              >
            </div>
          </div>
          <div class="down-content-container ml1">
            <div class="flex items-center ml-1" style="width: 150px">
              <j-avatar
                *ngFor="let user of assignees"
                [className]="'shadow-outline-white -ml-1'"
                [size]="24"
                [ngbPopover]="popContent"
                [openDelay]="300"
                [closeDelay]="400"
                triggers="mouseenter:mouseleave"
                [avatarUrl]="user.avatarUrl"
                ><ng-template #popContent>{{ user.name }}</ng-template></j-avatar
              >
    
              <!-- <span class="ml0-5">+2</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="right-sub-post-content-container">
        <div class="task-container">
          <div class="task-content-container">
            <div style="text-align: center">
              <span style="font-size: large">{{
                getAllTask - getDoneTask
              }}</span
              ><br />
              <span>CV còn lại</span>
            </div>
            <div style="text-align: center">
              <span style="font-size: large">{{
                getDoneTask
              }}</span
              ><br />
              <span
                ><mat-icon style="font-size: inherit">check</mat-icon>CV hoàn
                thành</span
              >
            </div>
            <div style="text-align: center">
              <span style="font-size: large"></span><br />
              <span>Ngày còn lại</span>
            </div>
          </div>
          <div class="task-progress-container">
            <p style="width: 100%">
              <ngb-progressbar
                type="{{(getPercentage() === 100) ? 'success' : 'info' }}"
                textType="white"
                [value]="getPercentage()"
                [showValue]="true"
              ></ngb-progressbar>
            </p>
          </div>
        </div>
        <div class="time-section-container">
          <div class="time-section ml1" style="text-align: center">
            <span style="font-size: large">TỪ NGÀY</span><br />
            <input
              class="date-control"
              container="body"
              placeholder="{{ this.subProductItem.fromDate }}"
              style="position: relative; z-index: 100000"
              name="dp"
              [(ngModel)]="fromDate"
              ngbDatepicker
              #d="ngbDatepicker"
              (click)="d.toggle()"
            />
          </div>
          <div class="time-section mr1" style="text-align: center">
            <span style="font-size: large">ĐẾN NGÀY</span><br />
            <input
              class="date-control"
              container="body"
              placeholder="{{ this.subProductItem.toDate }}"
              style="position: relative; z-index: 100000"
              name="dp"
              [(ngModel)]="toDate"
              ngbDatepicker
              #e="ngbDatepicker"
              (click)="e.toggle()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="add-task-button" (click)="openCreateIssueModal()"><fa-icon [icon]="faPlusCircle"></fa-icon> Thêm công việc</button>

  <div *ngIf="shoud_open">
    <div
      *ngFor="let status of taskStatuses"
      app-min-post
      [status]="status"
      [currentUserId]="authQuery.userId$ | async"
      [tasks$]="projectQuery.issueByStatusSorted$(status)"></div>
  </div>
</div>
