/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

* {
  font-family: "Barlow", sans-serif;
}

.user-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}


.secondary {
  background-color: #007cce;
}

.primary {
  background-color: #ce0067;
}

.mb24 {
  margin-bottom: 1.5rem;
}

.pt16 {
  padding-top: 16px;
}

.mt8 {
    margin-top: 0.5rem;
}


.ml1 {
  margin-left: 1rem;
}

.ml0-5 {
  margin-left: 0.5rem;
}

.mr1 {
  margin-right: 1rem;
}


.m5 {
  margin-left: 5px;
}

.m10 {
  margin-left: 10px;
}

.m30 {
  margin-left: 30px;
}

$doingState-color: #2BD9FE;
$completeState-color: #6bc950;
$alertState-color: #DB504A;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/tailwind.css"

