/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: "Barlow", sans-serif;
}


.secondary {
  background-color: #007cce;
}

.primary {
  background-color: #ce0067;
}

.mb24 {
  margin-bottom: 1.5rem;
}

.pt16 {
  padding-top: 16px;
}

.mt8 {
    margin-top: 0.5rem;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
